@keyframes rotation1{
  0% {
    transform: scale(1.1) translate(-0.5rem,-0.5rem);
  }
  25% {
    transform: scale(1.1) translate(-0.5rem,0.5rem);
  }
  50% {
    transform: scale(1.1) translate(0.5rem,0.5rem);
  }
  75% {
    transform: scale(1.1) translate(0.5rem,-0.5rem);
  }

  100% {
    transform: scale(1.1) translate(-0.5rem,-0.5rem);
  }
}

@keyframes rotation2{
  0% {
    transform: scale(1.1) translate(0.5rem,0.5rem);
  }
  25% {
    transform: scale(1.1) translate(0.5rem,-0.5rem);
  }
  50% {
    transform: scale(1.1) translate(-0.5rem,-0.5rem);
  }
  75% {
    transform: scale(1.1) translate(-0.5rem,0.5rem);
  }

  100% {
    transform: scale(1.1) translate(0.5rem,0.5rem);
  }
}

@keyframes screen_scroll{
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 14rem));
  }
}

:root{
  --bg: #000;
  --text: #ff0;
  --sfs: 0.4rem;
}

html{
  font-size: 25px;  
  background-color: var(--bg);
  background: var(--bg);
}

body{
  background-color: var(--bg);
  background: var(--bg);
  font-family: sans-serif;
  font-weight: 800;
  margin: 0rem;
  line-height: 1.1;
  color: var(--text);
  text-align: left;
}

#scroll_text_container{
  position: fixed;
  z-index: 10;
  font-family: monospace;
  font-weight: normal;
  width: calc(100% - 4rem);
  left: 4rem;
  top: 0;
  overflow: hidden;
  height: 80vh;
}

.scrolling_text{
  position: absolute;
  left: 100%;
  display: block;
  left: 100%;
  width: 100%;
  animation: screen_scroll linear infinite 10s;
  text-shadow: 0px 0px 1px #000;
}

.scrolling_text:nth-child(1){
  top: 1rem;
  animation-duration: 15s;
  color: #f0f;
}

.scrolling_text:nth-child(2){
  top: 3rem;
  animation-delay: 2s;
  animation-duration: 10s;
  color: #0ff;
}

.scrolling_text:nth-child(3){
  top: 5rem;
  animation-delay: 5s;
  animation-duration: 7s;
  color: #0f0;
}

.scrolling_text:nth-child(4){
  top: 7rem;
  animation-delay: 1s;
  animation-duration: 7s;
  color: #f00;
}

.scrolling_text:nth-child(5){
  top: 12rem;
  animation-delay: 4s;
  animation-duration: 10s;
  color: #00f;
}

.scrolling_text:nth-child(6){
  top: 14rem;
  animation-delay: 1s;
  animation-duration: 13s;
  color: #ff9f00;
}

#cover{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  animation: rotation1 ease-in-out infinite 20s;
  transform: scale(1.1) translate(-0.5rem,-0.5rem)
}
#cover2{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  opacity: 0.5;
  mix-blend-mode: luminosity;
  animation: rotation2 ease-in-out infinite 20s;
  transform: scale(1.1) translate(0.5rem,0.5rem);
}

#pt2{
  position: fixed;
  z-index: 3;
  width: 15rem;
  bottom: 5rem;
  border-radius: 0.5rem;
  transform: rotate(10deg);
  left: 20%;
  object-fit: contain;
  box-shadow: 1rem 1rem 0.5rem rgb(0,0,0, 0.5);
  mix-blend-mode: lighten;
}

a{
  color: var(--text);
}

header{
  position: fixed;
  transform: rotate(-90deg);
  transform-origin: top left;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin-bottom: 0rem;
  padding: 0.25rem;
  box-sizing: border-box;
  top: 100%;
  left: 0;
  width: 100vh;
  justify-content: space-between;
  z-index: 10;
}

#current{
  position: fixed;
  pointer-events: none;
  mix-blend-mode: exclusion;
  top:  50%;
  left:  50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
}

main{
  position: fixed;
  width: calc(100% - 4rem);
  left: 4rem;
  bottom: 0;
  overflow-x: scroll;
  z-index: 10;
  font-size: var(--sfs);
}

button{
  color: var(--text);
  background-color: var(--bg);
}

input{
  background-color: var(--bg);
  color: var(--text);
  border: none;
  width: 10rem;
  font-size: 1rem;
  border-bottom: 2px solid;
  color: var(--text);
  outline: none; 
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type="submit"]{
  border: 2px solid var(--text);
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
}

input[type="submit"]:focus{
  background-color: var(--text);
  color: var(--bg);
}

#newsletter_signup_container{
  display: none;
}

#newsletter_signup_outer_wrapper.show_newsletter_signup #newsletter_signup_container{
  display: block;
}

#newsletter_signup_outer_wrapper.show_newsletter_signup #newsletter_signup_button{
  display: none;
}

#newsletter_signup_button{
  background-color: var(--bg);
  font-size: 1rem;
  font-weight: bold;
  outline:  none;
  border:  2px solid var(--text);
  margin: 0 1rem;
}

#about{
  margin-bottom:  0.5rem;
}

#logo{
  width: 15rem;
  padding: 0 2rem;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  filter: drop-shadow(2px 2px 0 var(--text));
}

#catalogue{
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  /*border: 2px solid;*/
}

#catalogue h2{
  text-align: center;
  width: 100%;
  font-size: var(--sfs);
  margin: 0;
  padding: 1rem 0;
  /*border-bottom: 2px solid;*/
  font-weight: normal;
  text-transform: uppercase;
}

.heading_container.row{
  /*background-color: #ff0;*/
  color: var(--text);
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 10rem;
  padding-right: 2rem;
  box-sizing: border-box;
  margin-bottom:  0.5rem;
  /*border-bottom: 2px dashed;*/
}

.row:last-child{
  border-bottom: none;
}

.border_right{
  /*border-right: 2px solid;  */
  box-sizing: border-box;
}

.cell{
  padding: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vol{
  width: 1rem;
  font-size: var(--sfs);
  color: var(--text);
  box-sizing: border-box;
}

.title{
  font-size: var(--sfs);
  width: calc(100% - 1rem);
  white-space: normal;
}

.w{
  /*width: 15%;*/
  display: inline-flex;
  width: 50%;
}

.tracklist,
.w{
  font-size: var(--sfs);
}

.tracklist{
  column-count: 1;
  width: 8rem;
  /*width: 40%;*/
}
.download{
  /*width: 10%;*/
}

.mc-field-group,
.clear{
  display: inline-block;
}

@media (hover: hover){
  input[type="submit"]:hover,
  button:hover{
    background-color: var(--text) !important;
    cursor: pointer;
    color: var(--bg);
  }
}


@media (max-width: 1270px){
  html{
    font-size: 2vw;  
  }
}

@media (max-width: 1000px){
  html{
    font-size: 2vw;  
  }
  .tracklist{
    column-count: 1;
    font-size: 0.75rem;
  }
}

@media (max-width: 870px){
  #current{
    top: 0;
    height: 200vw;
    transform:  translate(-50%, 0%);
    
  }
}

@media (max-width: 767px){
  html{
    font-size: 2.9vw; 
  }

  .tracklist{
    font-size: 1rem;
  }
  .download{
    font-size: 2rem;
  }

  .row{
    width: 100%;
    margin-bottom: 1rem;
  }

  header input,
  .mc-field-group{
    width: 100%;
  }
  input[type="submit"]{
    border: 2px solid var(--text);
    margin-top: 1rem;
  }

  input[type="submit"]:focus{
    background-color: #fff;
    color: var(--text);
  }

  .mc-field-group,
  .clear{
    display: block;
  }
}

@media (max-width: 450px){
  #newsletter_signup_outer_wrapper,
  #about{
    width: 100%;
  }
  .clear{
    display: block;
    width: 100%;
  }
}