:root{
  --bg: #333;
  --text: #fff;
}

@font-face{
  font-family: 'Raid XP';
  font-weight: 400;
  src: url("./fonts/RaidXP-Regular_web.woff2") format("woff2"),
       url("./fonts/RaidXP-Regular_web.woff") format("woff");
}

html{
  font-size: 2vw;  
}

body{
  background-color: var(--bg);
  margin: 0rem;
  line-height: 1.1;
  font-family: 'Raid XP', sans-serif;
  font-weight: bold;
  color: var(--text);
  background-size: 100%;
  background-attachment: top;
  background-position: top;
  background-repeat: no-repeat;
  text-align: left;
}

a{
  color: #ff0;
  text-shadow: 2px 2px 2px var(--text);
}

header{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 0rem;
  padding: 0.25rem;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  z-index: 10;
}

#current{
  position: fixed;
  pointer-events: none;
  mix-blend-mode: exclusion;
  top:  50%;
  left:  50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
}

main{
  position: relative;
  z-index: 10;
}

button{
  color: var(--text);
  background-color: var(--bg);
  font-family: 'Raid XP', sans-serif;
}

input{
  background-color: var(--bg);
  color: var(--text);
  border: none;
  width: 10rem;
  border-bottom: 2px solid;
  color: var(--text);
  font-family: 'Raid XP', sans-serif;
  font-size: inherit;
  outline: none; 
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type="submit"]{
  border: 2px solid var(--text);
  font-family: 'Raid XP', sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

input[type="submit"]:focus{
  font-family: 'Raid XP', sans-serif;
  background-color: var(--text);
  color: var(--bg);
}

#newsletter_signup_container{
  display: none;
}

#newsletter_signup_outer_wrapper.show_newsletter_signup #newsletter_signup_container{
  display: block;
}

#newsletter_signup_outer_wrapper.show_newsletter_signup #newsletter_signup_button{
  display: none;
}

#newsletter_signup_button{
  background-color: var(--bg);
  font-family: 'Raid XP', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  outline:  none;
  border:  2px solid var(--text);
}

#about{
  margin-bottom:  0.5rem;
}

#logo{
  width: 100%;
  margin-bottom: 0.5rem;
  filter: drop-shadow(2px 2px 0 var(--text));
}

#catalogue{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  /*border: 2px solid;*/
}

#catalogue h2{
  text-align: center;
  width: 100%;
  /*background-color: #ff0;*/
  font-size: 2rem;
  margin: 0;
  padding: 1rem 0;
  /*border-bottom: 2px solid;*/
  font-weight: normal;
  text-transform: uppercase;
}

.heading_container.row{
  /*background-color: #ff0;*/
  color: var(--text);
}

.row{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom:  0.5rem;
  /*border-bottom: 2px dashed;*/
}

.row:last-child{
  border-bottom: none;
}

.border_right{
  /*border-right: 2px solid;  */
  box-sizing: border-box;
}

.cell{
  padding: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vol{
  /*width: 7%;*/
  font-size: 2rem;
  color: #0f0;
  box-sizing: border-box;
}

.title{
  font-size: 2rem;

  /*width: 20%;*/
}

.w{
  /*width: 15%;*/
  display: inline-flex;
  width: 50%;
}

.tracklist,
.w{
  font-size: 0.45rem;
}

.tracklist{
  column-count: 2;
  /*width: 40%;*/
}
.download{
  /*width: 10%;*/
}

.mc-field-group,
.clear{
  display: inline-block;
}

@media (hover: hover){
  input[type="submit"]:hover,
  button:hover{
    background-color: var(--text) !important;
    cursor: pointer;
    color: var(--bg);
  }
}


@media (max-width: 1270px){
  html{
    font-size: 2vw;  
  }
}

@media (max-width: 1000px){
  html{
    font-size: 2vw;  
  }
  .tracklist{
    column-count: 1;
    font-size: 0.75rem;
  }
}

@media (max-width: 870px){
  #current{
    top: 0;
    height: 200vw;
    transform:  translate(-50%, 0%);
    
  }
}

@media (max-width: 767px){
  html{
    font-size: 2.9vw; 
  }

  .tracklist{
    font-size: 1rem;
  }
  .download{
    font-size: 2rem;
  }

  .row{
    width: 100%;
    margin-bottom: 1rem;
  }

  header input,
  .mc-field-group{
    width: 100%;
  }
  input[type="submit"]{
    border: 2px solid var(--text);
    margin-top: 1rem;
  }

  input[type="submit"]:focus{
    background-color: #fff;
    color: var(--text);
  }

  .mc-field-group,
  .clear{
    display: block;
  }
}

@media (max-width: 450px){
  #newsletter_signup_outer_wrapper,
  #about{
    width: 100%;
  }
  .clear{
    display: block;
    width: 100%;
  }
}