:root{
  --bg: #000;
  --text: #fff;
  --sfs: 0.4rem;
}

html{
  font-size: 25px;  
  background-color: var(--bg);
  background: var(--bg);
}

body{
  background-color: var(--bg);
  background: var(--bg);
  font-family: sans-serif;
  font-weight: 800;
  margin: 0rem;
  line-height: 1.1;
  color: var(--text);
  text-align: left;
}

a{
  color: red;
  text-decoration: none;
}

header{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0.25rem;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  z-index: 10;
  position: sticky;
  position: -webkit-sticky;
}

main{
  display: flex;
  flex-wrap: wrap;
  bottom: 0;
  z-index: 10;
  font-size: var(--sfs);
}

button{
  color: var(--text);
  background-color: var(--bg);
}

input{
  background-color: var(--bg);
  color: var(--text);
  border: none;
  width: 10rem;
  font-size: 1rem;
  border-bottom: 2px solid;
  color: var(--text);
  outline: none; 
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type="submit"]{
  border: 2px solid var(--text);
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
}

input[type="submit"]:focus{
  background-color: var(--text);
  color: var(--bg);
}

#newsletter_signup_container{
  display: none;
}

#newsletter_signup_outer_wrapper.show_newsletter_signup #newsletter_signup_container{
  display: block;
}

#newsletter_signup_outer_wrapper.show_newsletter_signup #newsletter_signup_button{
  display: none;
}

#newsletter_signup_button{
  background-color: var(--bg);
  font-size: 1rem;
  font-weight: bold;
  outline:  none;
  border:  2px solid var(--text);
  margin: 0 1rem;
}

#about{
  margin-bottom:  0.5rem;
}

#logo{
  width: 15rem;
  padding: 0 2rem;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  filter: drop-shadow(2px 2px 0 var(--text));
}

#catalogue{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
  box-sizing: border-box;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
  /*border: 2px solid;*/
}

#catalogue h2{
  text-align: left;
  width: 100%;
  font-size: var(--sfs);
  margin: 0;
  padding: 1rem 0;
  /*border-bottom: 2px solid;*/
  font-weight: normal;
}

.heading_container.row{
  /*background-color: #ff0;*/
  color: var(--text);
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 25%;
  padding-right: 2rem;
  box-sizing: border-box;
  margin-bottom:  1.5rem;
/*  border-bottom: 2px dashed;*/
}

.row:last-child{
  border-bottom: none;
}

.border_right{
  /*border-right: 2px solid;  */
  box-sizing: border-box;
}

.cell{
  padding: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vol{
  width: 100%;
  font-size: var(--sfs);
  color: var(--text);
  box-sizing: border-box;
}

.title{
  width: 100%;
  white-space: normal;
  text-shadow: 0.1rem 0.1rem 0 #000;
}

.w{
  /*width: 15%;*/
  display: inline-flex;
  width: 50%;
}

.tracklist,
.w{
  font-size: var(--sfs);
}

.tracklist{
  column-count: 2;
  width: 100%;
  /*width: 40%;*/
}
.download{
  font-size: 1rem;
  /*width: 10%;*/
}

.mc-field-group,
.clear{
  display: inline-block;
}

@media (hover: hover){
  input[type="submit"]:hover,
  button:hover{
    background-color: var(--text) !important;
    cursor: pointer;
    color: var(--bg);
  }
}


@media (max-width: 1270px){
  html{
    font-size: 2vw;  
  }
}

@media (max-width: 1000px){
  html{
    font-size: 2vw;  
  }
}

@media (max-width: 870px){
  #current{
    top: 0;
    height: 200vw;
    transform:  translate(-50%, 0%);
    
  }
}

@media (max-width: 767px){
  html{
    font-size: 2.9vw; 
  }

  .vol{
    width: 5rem;
  }

  .tracklist,
  .vol,
  .w{
    column-count: 1;
    font-size: 1rem;
  }
  .title{
    width: 100%;
    font-size: 1rem;
  }
  .download{
    font-size: 2rem;
  }

  .row{
    width: 100%;
    margin-bottom: 2rem;
  }

  header input,
  .mc-field-group{
    width: 100%;
  }
  input[type="submit"]{
    border: 2px solid var(--text);
    margin-top: 1rem;
  }

  input[type="submit"]:focus{
    background-color: #fff;
    color: var(--text);
  }

  .mc-field-group,
  .clear{
    display: block;
  }
}

@media (max-width: 450px){
  #newsletter_signup_outer_wrapper,
  #about{
    width: 100%;
  }
  .clear{
    display: block;
    width: 100%;
  }
}